<!doctype html>
<html lang="en" >
  <head>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/> 
  </head>
  <body layout="column" ng-app="myApp" ng-controller="myCtrl">
  
  <md-toolbar> 
    <h1>My Aggie Feed Project</h1> 
  </md-toolbar> 
  
  <div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="lightblue">Sidenav
    <form>
    Enter the City Name <input type="text" ng-model="cityName">
  </form>
  <h1>You entered: {{cityName}}</h1>
      <div>
        <button ng-click="apiCall()" >OK</button>
        <p>The button has been clicked {{count}} times.</p>
      </div>
    </md-sidenav>
    <md-content id="content" class="lightgreen" flex>
      Content
      <table>
        <tr ng-repeat="x in list">
          <td>{{ x.name }}</td>
          <td>{{ x.main.temp }}</td>
          <td>{{ x.weather[0].description}}
        </tr>
      </table>

      <md-list>
               <md-subheader class="md-no-sticky">Weather</md-subheader>
               <md-list-item class="md-2-line contact-item" ng-repeat="x in list" >
                  <div class="md-list-item-text compact">
                     <h3>{{x.name}}</h3>
                     <p>{{x.main.temp}}</p>
                     <p> {{ x.weather[0].description }} </p>
                  </div>
          <md-divider ng-if="!$last"></md-divider>
               </md-list-item>
            </md-list>

    </md-content>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!--<script src="bower_components/angular/angular.min.js"></script>-->
  <script src="bower_components/angular-animate/angular-animate.js"></script> 
  <script src="bower_components/angular-aria/angular-aria.min.js"></script> 
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="script.js"> </script>

  <style> 
    .red{background-color:red;}
    .lightblue{background-color:lightblue;}
    .lightgreen{background-color:lightgreen;}

  </body>
</html>
