<!doctype html>
<html lang="en" >
  <head>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/> 
  </head>
  <body layout="column" ng-app="myApp" ng-controller="myCtrl">
  
  <md-toolbar> 
    <h1>My Aggie Feed Project</h1> 
  </md-toolbar> 
  
  <div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="true" class="lightblue">Sidenav
      <div>
        <button ng-click="apiCall()" >OK</button>
        <p>The button has been clicked {{count}} times.</p>
      </div>
    </md-sidenav>
    <md-content id="content" class="lightgreen" flex>
      Content
      <table>
        <tr ng-repeat="x in list">
          <td>{{ x.dt_txt }}</td>
          <td>{{ x.main.temp }}</td>
        </tr>
      </table>
    </md-content>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!--<script src="bower_components/angular/angular.min.js"></script>-->
  <script src="bower_components/angular-animate/angular-animate.js"></script> 
  <script src="bower_components/angular-aria/angular-aria.min.js"></script> 
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script>
    var app = angular.module('myApp', ["ngMaterial"]);  
    app.controller('myCtrl', function($scope, $http) {
      $scope.count = 0;
      $scope.list = []; 
      $scope.apiCall = function() {
        $scope.count++;
        console.log('MyApp is real'); 
        $http({
          method: 'GET',
          url: 'http://api.openweathermap.org/data/2.5/weather?q=London&APPID=6c22e3e9d58f36b919237acd80ba106d'
        }).then(function successCallback(response) {
            
            $scope.list.push(response.data);
            //console.log(response);

            var jsonResult = {
              "activity" : {
                  "icon": "icon-info-sign",
                  "actor": {
                      "id" : "sourceId",
                      "objectType": "person",
                      "displayName": "Department Name",
                      "author" : {
                          "id" : "kName",
                          "displayName" : "FirstName LastName"
                      },
                      "image" : {
                          "color" : "#f1c40f"
                      }
                  },
                  "verb": "post",
                  "title": response.data.name + "\'s Weather",
                  "object": {
                      "ucdSrcId" : "content identifier",
                      "objectType": "notification",
                      "content": response,
                      "ucdEdusModel" : {
                          "url" : "http://http://api.openweathermap.org/data/2.5/weather?q=",
                          "urlDisplayName" : "Open Weather Map",
                          "event" : {
                              "location": "Event Location",
                              "hasStartTime" : true,
                              "startDate": "date string",
                              "endDate": "date string",
                              "isAllDay": false,
                              "iCalendar" : "iCal string",
                              "addToGoogleCalendar": "string"
                          }
                      },
                      "location" : {
                          "displayName": response.data.name,
                          "geo" : {
                              "latitude": response.data.coord.lon,
                              "longitude": response.data.coord.lat
                          },
                          "geometry" : {
                              "type": "Point",
                              "coordinates": [response.data.coord.lon, response.data.coord.lat]
                          }
                      }
                  },
                  "to" : [
                      {
                          "id": "<kName>",
                          "g": false,
                          "i": false
                      }
                  ],
                  "ucdEdusMeta" : {
                      "labels" : ["~academic", "some-label"],
                      "startDate" : "date string",
                      "endDate" : "date string"
                  }
              }
          }; 

          console.log(jsonResult);
 
          }, function errorCallback(response) {
          });
      } 
    });

    function seccuessCallback(response) {
      console.log(response); 
    }
  </script>

  <style> 
    .red{background-color:red;}
    .lightblue{background-color:lightblue;}
    .lightgreen{background-color:lightgreen;}

  </body>
</html>
